* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared css */
.display-flex {
  display: flex;
}
/* header css */
.navbar {
  max-width: 1600px;
  justify-content: space-between;
  text-align: center;
  padding: 24px 200px;
  background-color: #1a0b2e;
}
.h1 {
  color: white;
  font-size: 2rem;
  font-weight: 219px;
  margin: 30px;
}
.span {
  background: -webkit-linear-gradient(#9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu {
  display: none;
}
.nav-link li {
  list-style: none;
  align-items: center;
  padding-top: 40px;
}
.nav-link a {
  gap: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 36.5px;
  font-weight: lighter;
  text-decoration: none;
}
.navbar button {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  border: none;
  margin: 24px;
}
.header-container {
  max-width: 1600px;
  height: 760px;
  background-image: url(../assets/hero-bg.png);
  text-align: center;
}
.header-container .microphone-photo {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 180px 180px;
}
.microphone-photo span {
  color: black;
  padding: 8px 16px;
  background-color: #00ff88;
  font-weight: 700;
  border-radius: 1000px;
  border: none;
  font-size: 1.125rem;
  position: absolute;
  text-align: center;
  margin-top: -80px;
  margin-left: 10px;
}
.header-container .header-content h1 {
  color: white;
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: -85px;
  margin-bottom: 25px;
}
.header-content p {
  color: white;
  margin-top: -20px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
  font-weight: lighter;
}
.header-content button {
  padding-left: 90px;
}
.header-content .btn-1 {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  border-radius: 10000px;
  border: none;
  padding: 12.5px 20px;
}
.header-content .btn-2 {
  color: #00ff88;
  border-radius: 10000px;
  padding: 10px 20px;
  background-color: transparent;
  border-color: #00ff88;
}
main .the-podcast {
  max-width: 1600px;
  max-height: 646px;
  background-color: #1a0b2e;
}
main .about-podcast {
  max-width: 1200px;
  padding-left: 24%;
  align-items: center;
  text-align: center;
}
.about-podcast h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-podcast p {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}
.about-podcast .p-1 {
  margin-bottom: 40px;
}
main .divider {
  padding: 60px 200px;
  opacity: 0.1;
}
.the-podcast .divider-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
  padding-left: 400px;
  padding-bottom: 80px;
}
.the-podcast .divider-section h2 {
  color: #00ff88;
  font-size: 3rem;
}
.the-podcast .divider-section p {
  color: white;
  font-weight: lighter;
}
main .why-choose-techwave {
  max-width: 1600px;
  max-height: 1121px;
  background-color: #230e3d;
}
main .why-choose-techwave h2 {
  text-align: center;
  color: white;
  font-size: 2.7rem;
  padding-top: 50px;
  margin-bottom: 40px;
}
.why-choose-techwave .choose-container {
  max-width: 1200px;
  max-height: 783px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
}
.why-choose-techwave .choose-container .first-layout {
  grid-column: span 1;
  grid-row: span 2;
  color: white;
  width: 380px;
  height: 470px;
  background-color: #351165;
  border-radius: 40px;
  margin-left: 350px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.why-choose-techwave .choose-container .first-layout h3 {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.why-choose-techwave .choose-container .first-layout p {
  font-weight: lighter;
}
.why-choose-techwave .choose-container .second-layout {
  grid-column: span 2;
  grid-row: span 1;
  color: white;
  max-width: 790px;
  max-height: 225px;
  background-color: #351165;
  text-align: left;
  border-radius: 40px;
  padding: 50px 20px;
}
.why-choose-techwave .choose-container .second-layout h3 {
  font-size: 2rem;
  padding-top: 2px;
  padding-bottom: 5px;
}
.why-choose-techwave .choose-container .second-layout p {
  font-weight: lighter;
}
.why-choose-techwave .choose-container .third-layout {
  grid-column: span 2;
  grid-row: span 1;
  color: white;
  margin-top: -75px;
  max-width: 790px;
  max-height: 224px;
  background-color: #351165;
  text-align: left;
  border-radius: 40px;
  padding: 50px 20px;
}
.why-choose-techwave .choose-container .third-layout h3 {
  font-size: 2rem;
  padding-top: 2px;
  padding-bottom: 5px;
}
.why-choose-techwave .choose-container .third-layout p {
  font-weight: lighter;
}
.why-choose-techwave .choose-container .fourth-layout {
  grid-column: span 2;
  grid-row: span 2;
  max-width: 710px;
  max-height: 224px;
  background-color: #351165;
  color: white;
  border-radius: 40px;
  margin-left: 350px;
  margin-top: -150px;
  padding: 10px 20px;
}
.why-choose-techwave .choose-container .fourth-layout h3 {
  padding-bottom: 5px;
  font-size: 2rem;
  font-size: 1.8rem;
}
.why-choose-techwave .choose-container .fourth-layout p {
  font-size: 0.8rem;
  font-weight: lighter;
}
.why-choose-techwave .choose-container .fifth-layout {
  grid-column: span 1;
  grid-row: span 1;
  max-width: 380px;
  max-height: 225px;
  background-color: #351165;
  color: white;
  border-radius: 40px;
  margin-top: -150px;
  padding-top: 45px;
  padding-left: 20px;
}
.why-choose-techwave .choose-container .fifth-layout h3 {
  padding-top: 4px;
  font-size: 1.5rem;
  padding-bottom: 5px;
}
.why-choose-techwave .choose-container .fifth-layout p {
  font-size: 0.8rem;
  font-weight: lighter;
}
main .the-episodes {
  max-width: 1600px;
  height: 1276px;
  background-color: #1a0b2e;
  padding-left: 335px;
}
.cards-featured {
  gap: 20px;
}
.the-episodes h3 {
  font-size: 3rem;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  color: white;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-right: 400px;
}
.card-episodes {
  width: 280px;
  height: 350px;
  /* border: 1px solid red; */
  background-color: #250d44;
  color: white;
  border-radius: 20px;
}
.card-episodes iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-episodes h4 {
  padding-top: 10px;
  font-size: 1.3rem;
}
.card-episodes p {
  font-size: 0.8rem;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 5px;
}
.clock-min {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: start;
  gap: 5px;
  color: #00ff88;
  font-weight: bold;
}
.clock-min p {
  padding-bottom: 10px;
}
main .meet-the-host .host-name {
  font-size: 3rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.host-container {
  gap: 24px;
  max-width: 896px;
  max-height: 280px;
  background-color: #351165;
  color: white;
  padding: 15px 15px;
  border-radius: 40px;
}
.host-container h4 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 20px;
}
.host-container p {
  font-size: 0.9rem;
  font-weight: lighter;
  padding-bottom: 10px;
}
.host-container .social-link .image-link {
  gap: 20px;
}
.host-container .social-link li {
  list-style: none;
  align-items: center;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 100%;
}
.social-link {
  gap: 5px;
}
.social-link .images-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border: 1px solid #533c72;
  border-radius: 100px;
}

.footer-section {
  max-width: 1600px;
  max-height: 412px;
  text-align: center;
  justify-content: space-between;
  background-image: url(../assets/footer-bg.png);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: lighter;
}
.footer-section .footer-name {
  font-size: 3rem;
  font-weight: 219px;
  margin: 30px;
}
.footer-section .footer-span {
  background: -webkit-linear-gradient(#9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-link {
  gap: 55px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-images{
  gap: 10px;
  font-weight: lighter;
}
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 576px;
    max-height: 60px;
  }
  .nav-link,
  .btn-0 {
    display: none;
  }
  .header .navbar .h1 {
    margin: 0 auto;
    margin-top: -15px;
    margin-left: -170px;
  }
  .navbar .menu {
    display: flex;
    margin-right: -170px;
    list-style: none;
  }
  .header-container {
    max-width: 576px;
    background-size: 576px 576px;
    background-repeat: no-repeat;
  }
  .header-container .microphone-photo {
    background-position: center;
    padding: 100px 100px;
  }
  .header-container .header-content h1 {
    padding-top: 90px;
    font-size: 2rem;
  }
  .header-container .header-content p {
    font-size: 0.85rem;
    padding-right: 10px;
    padding-top: 10px;
  }
  main .the-podcast {
    max-width: 576px;
    max-height: 576px;
    margin-top: -190px;
    padding-top: 15px;
  }
  .about-podcast h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-right: 135px;
  }
  .about-podcast p {
    text-align: center;
    font-size: 0.8rem;
    margin-right: 135px;
    padding: -10px;
  }
  .about-podcast .p-2 {
    margin-top: -20px;
    padding-bottom: 10px;
  }
  main .divider {
    padding: 50px 50px;
    margin-top: -40px;
  }
  .the-podcast .divider-section {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
    gap: 130px;
    align-items: center;
  }
  .the-podcast .divider-section .rating {
    margin-left: -390px;
    margin-top: -30px;
  }
  main .why-choose-techwave h2 {
    font-size: 1.5rem;
  }
  .why-choose-techwave .choose-container {
    max-width: 575px;
    max-height: 1450px;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-choose-techwave .choose-container .first-layout {
    margin-left: 95px;
    padding: 30px 20px;
    height: 220px;
  }
  .why-choose-techwave .choose-container .first-layout h3 {
    font-size: 1rem;
  }
  .why-choose-techwave .choose-container .first-layout p {
    font-size: 0.9rem;
  }
  .why-choose-techwave .choose-container .second-layout {
    margin: 90px 95px;
    margin-top: -390px;
    height: 180px;
    padding: 30px 20px;
  }
  .why-choose-techwave .choose-container .second-layout h3 {
    font-size: 1rem;
  }
  .why-choose-techwave .choose-container .second-layout p {
    font-size: 0.9rem;
  }
  .why-choose-techwave .choose-container .third-layout {
    margin: 90px 95px;
    margin-top: -500px;
    height: 180px;
    padding: 30px 20px;
  }
  .why-choose-techwave .choose-container .third-layout h3 {
    font-size: 1rem;
  }
  .why-choose-techwave .choose-container .third-layout p {
    font-size: 0.9rem;
  }
  .why-choose-techwave .choose-container .fourth-layout {
    margin: 90px 95px;
    margin-top: -500px;
    height: 300px;
    padding: 0px 20px;
  }
  .why-choose-techwave .choose-container .fourth-layout h3 {
    font-size: 1rem;
  }
  .why-choose-techwave .choose-container .fourth-layout p {
    font-size: 0.8rem;
  }
  .why-choose-techwave .choose-container .fifth-layout {
    margin: 90px 95px;
    margin-top: -285px;
    height: 180px;
    padding: 30px 20px;
  }
  .why-choose-techwave .choose-container .fifth-layout h3 {
    font-size: 1rem;
  }
  .why-choose-techwave .choose-container .fifth-layout p {
    font-size: 0.9rem;
  }
  main .the-episodes {
    max-width: 576px;
    max-height: 1936px;
  }
  .cards-featured {
    flex-direction: column;
    margin-left: -220px;
  }
  .the-episodes h3 {
    font-size: 1.5rem;
    margin-left: -90px;
  }
  .card-episodes {
    width: 360px;
    height: 240px;
  }
  .card-episodes iframe {
    width: 360px;
    height: 140px;
  }
  .card-episodes h4 {
    padding-top: 5px;
    font-size: 1rem;
  }
  .card-episodes p {
    font-size: 0.6rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  main .meet-the-host .host-name {
    font-size: 1.5rem;
    padding-bottom: 10px;
    margin-top: -70px;
  }
  .host-container {
    margin-left: -340px;
    margin-top: -30px;
    /* flex-direction: column; */
  }
  .host-container h4 {
    font-size: 1rem;
    padding-bottom: 5px;
    padding-top: 30px;
  }
  .host-container p {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }
  .footer-section {
    background-image: url(../assets/image2.png);
    background-position: center;
    background-size: contain;
  }
  .footer-link{
    gap:9px;
  }
}
