* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared css */
.display-flex {
  display: flex;
}
/* header css */
.navbar {
  max-width: 1600px;
  justify-content: space-between;
  text-align: center;
  padding: 24px 200px;
  background-color: #1a0b2e;
}
.navbar .h1 {
  color: white;
  font-size: 2rem;
  font-weight: 219px;
  margin: 30px;
}
.navbar .span {
  background: -webkit-linear-gradient(#9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu {
  display: none;
}
.nav-link {
  list-style: none;
  gap: 32px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 36.5px;
  font-weight: lighter;
}
.navbar button {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  border: none;
  margin: 24px;
}
.header-container {
  max-width: 1600px;
  height: 760px;
  background-image: url(../assets/hero-bg.png);
  text-align: center;
}
.header-container .microphone-photo {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 200px;
}
.microphone-photo span {
  color: black;
  padding: 8px 16px;
  background-color: #00ff88;
  font-weight: 700;
  border-radius: 1000px;
  border: none;
  font-size: 1.125rem;
  position: absolute;
  text-align: center;
  margin-top: -80px;
  margin-left: 10px;
}
.header-container .header-content h1 {
  color: white;
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: -85px;
  margin-bottom: 25px;
}
.header-content p {
  color: white;
  margin-top: -20px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
  font-weight: lighter;
}
.header-content button {
  padding-left: 90px;
}
.header-content .btn-1 {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  border-radius: 10000px;
  border: none;
  padding: 12.5px 20px;
}
.header-content .btn-2 {
  color: #00ff88;
  border-radius: 10000px;
  padding: 10px 20px;
  background-color: transparent;
  border-color: #00ff88;
}
main .the-podcast {
  max-width: 1600px;
  max-height: 646px;
  background-color: #1a0b2e;
}
main .about-podcast {
  max-width: 1200px;
  padding-left: 24%;
  align-items: center;
  text-align: center;
}
.about-podcast h2 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.about-podcast p {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}
.about-podcast .p-1 {
  margin-bottom: 40px;
}
main .divider {
  padding: 60px 200px;
  opacity: 0.1;
}
.the-podcast .divider-section {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 190px;
  text-align: center;
  padding-left: 280px;
  padding-bottom: 80px;
}
.the-podcast .divider-section h2 {
  color: #00ff88;
  font-size: 3rem;
}
.the-podcast .divider-section p {
  color: white;
  font-weight: lighter;
}

@media screen and (max-width: 576px) {
  .navbar {
    max-width: 576px;
    max-height: 60px;
  }
  .nav-link,
  .btn-0 {
    display: none;
  }
  .header .navbar .h1 {
    margin: 0 auto;
    margin-top: -15px;
    margin-left: -170px;
  }
  .navbar .menu {
    display: flex;
    margin-right: -170px;
  }
  .header-container {
    max-width: 576px;
    background-size: 576px 576px;
    background-repeat: no-repeat;
  }
  .header-container .microphone-photo {
    background-position: center;
    padding: 100px 100px;
  }
  .header-container .header-content h1 {
    padding-top: 90px;
    font-size: 2rem;
  }
  .header-container .header-content p {
    font-size: 0.85rem;
    padding-right: 10px;
    padding-top: 10px;
  }
  main .the-podcast {
    max-width: 576px;
    max-height: 576px;
    margin-top: -190px;
    padding-top: 15px;
  }
  .about-podcast h2 {
    text-align:justify;
    font-size: 1.6rem;
    margin-right: 100px;
  }
  .about-podcast p {
    text-align: center;
    font-size: .8rem;
    margin-right: 110px;
    padding: -10px;
  }
   .about-podcast .p-2{
    margin-top: -20px;
    padding-bottom: 10px;
   }
  main .divider {
    padding: 50px 50px;
    margin-top: -40px;
  }
  .the-podcast .divider-section {
    max-width: 576px;
    gap: 180px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
    grid-template-rows: 10px;

  }
  .the-podcast .divider-section .rating {
    margin-left: -290px;
    margin-top: -30px;
  }
}
