* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared css */
.display-flex {
  display: flex;
}
/* header css */
.navbar {
  max-width: 1600px;
  justify-content: space-between;
  text-align: center;
  padding: 24px 200px;
  background-color: #1a0b2e;
}
.navbar .h1 {
  color: white;
  font-size: 2rem;
  font-weight: 219px;
  margin: 30px;
}
.navbar .span {
  background: -webkit-linear-gradient(#9100f8, #fb09b4, #f7e93f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar .menu {
  display: none;
}
.nav-link {
  list-style: none;
  gap: 32px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin: 36.5px;
}
.navbar button {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  width: 135px;
  height: 44px;
  border-radius: 10000px;
  border: none;
  margin: 24px;
}
.header-container {
  max-width: 1600px;
  height: 760px;
  background-image: url(../assets/hero-bg.png);
  text-align: center;
}
.header-container .microphone-photo {
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 200px;
}
.microphone-photo span {
  color: black;
  padding: 8px 16px;
  background-color: #00ff88;
  font-weight: 700;
  border-radius: 1000px;
  border: none;
  font-size: 1.125rem;
  position: absolute;
  text-align: center;
  margin-top: -80px;
  margin-left: 10px;
}
.header-container .header-content h1 {
  color: white;
  font-size: 3.75rem;
  font-weight: 800;
  margin-top: -85px;
  margin-bottom: 25px;
}
.header-content p {
  color: white;
  margin-top: -20px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.header-content button {
  padding-left: 90px;
}
.header-content .btn-1 {
  color: white;
  background-image: linear-gradient(#9100f8, #fb09b4, #f7e93f);
  border-radius: 10000px;
  border: none;
  padding: 12.5px 20px;
}
.header-content .btn-2 {
  color: #00ff88;
  border-radius: 10000px;
  padding: 10px 20px;
  background-color: transparent;
  border-color: #00ff88;
}
@media screen and (max-width: 576px) {
  .navbar {
    max-width: 576px;
    max-height: 60px;
  }
  .nav-link,
  .btn-0 {
    display: none;
  }
  .header .navbar .h1 {
    margin: 0 auto;
    margin-top: -15px;
    margin-left: -170px;
  }
  .navbar .menu {
    display: flex;
    margin-right: -170px;
  }
  .header-container{
    max-width: 576px;
    background-size: 576px 576px;
    background-repeat: no-repeat;
  }
  .header-container .microphone-photo {
  background-position: center;
  padding: 100px 100px;
}
.header-container .header-content h1{
  padding-top: 90px;
}
.header-container .header-content h1{
}
}
